{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_googlemeet/local/recording_teacher_stats

  What teachers see instead of their own viewing progress: how many students opened
  (and completed) the recording, from googlemeet_recording_progress.

  Example context (json):
  {
    "teacherstatslabel": "14 alumnos la han abierto",
    "teacherstatshascompleted": true,
    "teacherstatscompletedlabel": "9 la han visto entera"
  }
}}
<span class="googlemeet-teacher-stats-opened{{^teacherstatsopened}} googlemeet-teacher-stats-none{{/teacherstatsopened}}">{{teacherstatslabel}}</span>
{{#teacherstatshascompleted}}<span class="googlemeet-teacher-stats-completed">{{teacherstatscompletedlabel}}</span>{{/teacherstatshascompleted}}
