{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_googlemeet/mobile_view_page

  This template renders the mobile page.

  Example context (json):
  {
    "intro": "foo",
    "url": "https://meet.google.com/vwe-vwee-vwe",
    "cmid": 3,
    "upcomingevent": {
      "hasupcomingevents": 1,
      "upcomingevents": [
        {
          "today": false,
          "startdate": "Tue. 17 Nov."
        }
      ],
      "starttime": "09:00",
      "endtime": "10:00",
      "duration": 3600
    },
    "recording": {
      "hasrecordings": 1,
      "recordings": [
        {
          "id": 1,
          "googlemeetid": 2,
          "name": "vwe-vwee-vwe (2020-11-11 at 16:11 GMT-8)",
          "createdtime": 1605140304,
          "duration": "1:00",
          "webviewlink": "https://drive.google.com/file/d/19jNAy_US0zzxxc8OPRWPp74i1msdff/view?usp=drivesdk",
          "visible": 1,
          "createdtimeformatted": "Sunday, 23 April 2023, 1:47 PM"
        }
      ]
    }
  }
}}
{{=<% %>=}}
<div>
  <ion-list>
    <ion-item lines="full">
      <ion-label>
        <ion-button id="googlemeet-mobile-join" class="ion-margin" expand="block" onclick="window.open('<% url %>', '_system');">
          {{ 'plugin.mod_googlemeet.entertheroom' | translate }}
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <%#upcomingevent.hasupcomingevents%>
    <ion-list>
      <ion-list-header lines="full" class="ion-margin-top" (click)="this.showUpcomingEvents = !this.showUpcomingEvents" >
        <ion-label style="font-size: 22px; font-weight: 700; letter-spacing: 0px;">
          {{ 'plugin.mod_googlemeet.upcomingevents' | translate }}
          <ion-icon *ngIf="showUpcomingEvents" name="caret-up-outline" style="top: 0.2em;"></ion-icon>
          <ion-icon *ngIf="!showUpcomingEvents" name="caret-down-outline" style="top: 0.2em;"></ion-icon>
        </ion-label>
      </ion-list-header>
      <div *ngIf="showUpcomingEvents">
        <%#upcomingevent.upcomingevents%>
          <ion-item lines="full">
            <%#today%>
              <ion-icon name="today-outline"></ion-icon>
              <ion-label class="ion-margin-start">
                {{ 'plugin.mod_googlemeet.today' | translate }},
                <%startdate%>
              </ion-label>
            <%/today%>
            <%^today%>
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-label class="ion-margin-start">
                <%startdate%>
              </ion-label>
            <%/today%>
          </ion-item>
        <%/upcomingevent.upcomingevents%>

        <%#upcomingevent.duration%>
          <ion-item lines="full">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label class="ion-margin-start">
              {{ 'plugin.mod_googlemeet.from' | translate }}
              <%upcomingevent.starttime%>
              {{ 'plugin.mod_googlemeet.to' | translate }}
              <%upcomingevent.endtime%>
            </ion-label>
          </ion-item>
        <%/upcomingevent.duration%>
        <%^upcomingevent.duration%>
          <ion-item lines="full">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label class="ion-margin-start">
              <%upcomingevent.starttime%>
            </ion-label>
          </ion-item>
        <%/upcomingevent.duration%>
      </div>
    </ion-list>
  <%/upcomingevent.hasupcomingevents%>

  <%#recording.hasrecordings%>
    <ion-list>
      <ion-list-header class="ion-margin-top">
        <ion-label style="font-size: 22px; font-weight: 700; letter-spacing: 0px;">
          {{ 'plugin.mod_googlemeet.recordings' | translate }}
        </ion-label>
      </ion-list-header>
      <%#recording.recordings%>
        <ion-item lines="full">
          <ion-label>
            <p><%name%></p>
            <p><%createdtimeformatted%></p>
            <ion-button onclick="window.open('<% webviewlink %>', '_system');">
              <ion-icon slot="start" name="play"></ion-icon>
              <%duration%>
            </ion-button>
            <%#haspracticequestions%>
              <ion-list class="ion-margin-top">
                <ion-list-header lines="full">
                  <ion-label>
                    {{ 'plugin.mod_googlemeet.practice_title' | translate }}
                  </ion-label>
                </ion-list-header>
                <%#practicequestions%>
                  <div *ngIf="googlemeetPractice[<% id %>].index === <% index %>">
                    <ion-item lines="none">
                      <ion-label>
                        <p class="item-heading">
                          {{ 'plugin.mod_googlemeet.practice_title' | translate }}
                          <%position%>/<%practicequestioncount%>
                        </p>
                        <p><%stem%></p>
                      </ion-label>
                    </ion-item>
                    <ion-radio-group [(ngModel)]="googlemeetPractice[<% id %>].selected[<% questionid %>]">
                      <%#options%>
                        <ion-item lines="full">
                          <ion-radio slot="start" [value]="<% answerid %>"></ion-radio>
                          <ion-label><%text%></ion-label>
                        </ion-item>
                      <%/options%>
                    </ion-radio-group>
                    <ion-item lines="none">
                      <ion-label>
                        <ion-button
                          expand="block"
                          core-site-plugins-call-ws
                          name="mod_googlemeet_check_practice_answer"
                          [params]="{
                            recordingid: <% id %>,
                            coursemoduleid: <% cmid %>,
                            questionid: <% questionid %>,
                            answerid: googlemeetPractice[<% id %>].selected[<% questionid %>]
                          }"
                          [preSets]="{getFromCache: 0, saveToCache: 0}"
                          [disabled]="!googlemeetPractice[<% id %>].selected[<% questionid %>] || googlemeetPractice[<% id %>].checked[<% questionid %>]"
                          (onSuccess)="googlemeetPractice[<% id %>].checked[<% questionid %>] = true; googlemeetPractice[<% id %>].answer[<% questionid %>] = $event">
                          {{ 'plugin.mod_googlemeet.practice_check' | translate }}
                        </ion-button>
                      </ion-label>
                    </ion-item>
                    <ion-item *ngIf="googlemeetPractice[<% id %>].checked[<% questionid %>]" lines="none">
                      <ion-label>
                        <p>
                          <ion-text [color]="googlemeetPractice[<% id %>].answer[<% questionid %>].correct ? 'success' : 'danger'">
                            <strong>
                              {{ googlemeetPractice[<% id %>].answer[<% questionid %>].correct ? ('plugin.mod_googlemeet.practice_correct' | translate) : ('plugin.mod_googlemeet.practice_incorrect' | translate) }}
                            </strong>
                          </ion-text>
                        </p>
                        <%#options%>
                          <p *ngIf="googlemeetPractice[<% id %>].answer[<% questionid %>].correctanswerid === <% answerid %>">
                            <strong>{{ 'plugin.mod_googlemeet.practice_correct_answer' | translate }}</strong>
                            <%text%>
                          </p>
                        <%/options%>
                        <div [innerHTML]="googlemeetPractice[<% id %>].answer[<% questionid %>].explanation"></div>
                      </ion-label>
                    </ion-item>
                    <ion-item *ngIf="googlemeetPractice[<% id %>].checked[<% questionid %>]" lines="none">
                      <ion-label>
                        <ion-button
                          *ngIf="<%position%> < <%practicequestioncount%>"
                          expand="block"
                          fill="outline"
                          (click)="googlemeetPractice[<% id %>].index = <% index %> + 1">
                          {{ 'plugin.mod_googlemeet.practice_next' | translate }}
                        </ion-button>
                        <ion-button
                          *ngIf="<%position%> === <%practicequestioncount%>"
                          expand="block"
                          fill="outline"
                          (click)="googlemeetPractice[<% id %>].index = 0; googlemeetPractice[<% id %>].selected = {}; googlemeetPractice[<% id %>].checked = {}; googlemeetPractice[<% id %>].answer = {}">
                          {{ 'plugin.mod_googlemeet.practice_retry' | translate }}
                        </ion-button>
                      </ion-label>
                    </ion-item>
                  </div>
                <%/practicequestions%>
              </ion-list>
            <%/haspracticequestions%>
            <%#aisummary%>
              <ion-card class="ion-no-margin ion-margin-top">
                <ion-card-header>
                  <ion-card-title>{{ 'plugin.mod_googlemeet.ai_summary' | translate }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p><%aisummarypreview%></p>
                  <%#aitopics.0%>
                    <%#aitopics%>
                    <ion-chip>
                      <ion-icon name="pricetag-outline"></ion-icon>
                      <ion-label><%.%></ion-label>
                    </ion-chip>
                    <%/aitopics%>
                  <%/aitopics.0%>
                  <%#aikeypoints.0%>
                    <ion-list lines="none">
                      <%#aikeypoints%>
                        <ion-item>
                          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                          <ion-label><%.%></ion-label>
                        </ion-item>
                      <%/aikeypoints%>
                    </ion-list>
                  <%/aikeypoints.0%>
                </ion-card-content>
              </ion-card>
            <%/aisummary%>
          </ion-label>
        </ion-item>
      <%/recording.recordings%>
    </ion-list>
  <%/recording.hasrecordings%>
</div>
