{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_googlemeet/recordingstable

  Example context (json):
  {
    "recordings": [
      {
        "id": 1,
        "googlemeetid": 2,
        "name": "Session recording",
        "createdtime": 1605140304,
        "duration": "1:00:00",
        "webviewlink": "https://drive.google.com/file/d/xxx/view",
        "visible": 1,
        "createdtimeformatted": "Sunday, 23 April 2023, 1:47 PM"
      }
    ],
    "hasrecordings": true,
    "coursemoduleid": 1919,
    "hascapability": 1
  }
}}
<div id="googlemeet_recordings_table" class="googlemeet-recordings-container">
  <h4 class="googlemeet-section-title">{{# str }} recordings, mod_googlemeet {{/ str }}</h4>

  {{#hasrecordings}}
  <div class="googlemeet-recordings-list">
    {{#recordings}}
        <div class="googlemeet-recording-card {{^visible}}googlemeet-recording-hidden{{/visible}}" data-recordingid="{{id}}">
          {{^visible}}
            <div class="googlemeet-recording-hidden-badge">
              {{# str }} recording_hidden, mod_googlemeet {{/ str }}
            </div>
          {{/visible}}

          <div class="googlemeet-recording-content">
            <div class="googlemeet-recording-icon">
              <a href="{{webviewlink}}" target="_blank" class="googlemeet-play-btn" title="{{# str }} recording_watch, mod_googlemeet {{/ str }}">
                {{# pix }} play, mod_googlemeet {{/ pix }}
              </a>
            </div>

            <div class="googlemeet-recording-info">
              <div class="googlemeet-recording-name">
                <span class="recording-name-text">{{name}}</span>
                {{#hascapability}}
                  <a href="javascript:void(0);" class="recordingeditname googlemeet-edit-btn" data-id="{{id}}" title="{{# str }} edit {{/ str }}">
                    {{# pix }} i/edit, core {{/ pix }}
                  </a>
                {{/hascapability}}
              </div>
              <div class="googlemeet-recording-meta">
                <span class="googlemeet-recording-date">{{createdtimeformatted}}</span>
                <span class="googlemeet-recording-duration">{{duration}}</span>
              </div>
            </div>

            {{#hascapability}}
              <div class="googlemeet-recording-actions">
                <a href="javascript:void(0);" class="recordinghowhide googlemeet-visibility-btn" data-id="{{id}}">
                  {{#visible}}
                    {{# pix }} i/hide, core, {{# str }} hide, mod_googlemeet {{/ str }} {{/ pix }}
                  {{/visible}}
                  {{^visible}}
                    {{# pix }} i/show, core, {{# str }} show, mod_googlemeet {{/ str }} {{/ pix }}
                  {{/visible}}
                </a>
              </div>
            {{/hascapability}}
          </div>
        </div>
    {{/recordings}}
  </div>
  {{/hasrecordings}}

  {{^hasrecordings}}
    <div class="googlemeet-no-recordings">
      <div class="googlemeet-no-recordings-icon">
        {{# pix }} i/empty, core {{/ pix }}
      </div>
      <p>{{# str }} thereisnorecordingtoshow, mod_googlemeet {{/ str }}</p>
    </div>
  {{/hasrecordings}}

  <div id="googlemeet_syncimg" class="googlemeet-loading-overlay">
    {{# pix }} i/processing64, googlemeet, {{# str }} loading, mod_googlemeet {{/ str }} {{/ pix }}
  </div>
</div>

{{#js}}
require([
  'jquery',
  'core/ajax',
  'core/notification'
], function($, Ajax, Notification) {

  $(document).ready(function() {
    {{#hascapability}}
      // Edit recording name
      $('.recordingeditname').on('click', function() {
        var card = $(this).closest('.googlemeet-recording-name');
        var text = card.find('.recording-name-text');
        var editBtn = $(this);
        var recordingid = $(this).attr('data-id');

        text.hide();
        editBtn.hide();

        var inputtext = document.createElement('input');
        inputtext.type = 'text';
        inputtext.className = 'form-control googlemeet-edit-input';
        inputtext.id = recordingid;
        inputtext.value = text.text().trim();
        inputtext.setAttribute('data-value', text.text().trim());
        inputtext.addEventListener('keydown', recordingeditkeydown);
        inputtext.addEventListener('focusout', recordingeditonfocusout);

        card.append(inputtext);
        inputtext.focus();
        inputtext.select();
      });

      function recordingeditkeydown(event) {
        var keyCode = event.which || event.keyCode;
        if (keyCode === 13) {
          event.preventDefault();
          event.currentTarget.removeEventListener('focusout', recordingeditonfocusout);
          recordingeditperform(event.currentTarget);
          return;
        }
        if (keyCode === 27) {
          event.currentTarget.removeEventListener('focusout', recordingeditonfocusout);
          recordingeditonfocusout(event.currentTarget);
        }
      }

      function recordingeditperform(element) {
        element = $(element);
        var card = element.closest('.googlemeet-recording-name');
        var text = card.find('.recording-name-text');
        var editBtn = card.find('.recordingeditname');

        var loading = $('<span class="googlemeet-inline-loading">{{# pix }} i/processing16, googlemeet, {{# str }} loading, mod_googlemeet {{/ str }} {{/ pix }}</span>');

        text.text(element.val()).show();
        element.hide();
        card.append(loading);

        Ajax.call([{
          methodname: 'mod_googlemeet_recording_edit_name',
          args: {
            recordingid: element.attr('id'),
            name: element.val(),
            coursemoduleid: {{ coursemoduleid }}
          }
        }])[0].then(function(response) {
          text.text(response.name).show();
          element.remove();
          loading.remove();
          editBtn.show();
        }).fail(Notification.exception).fail(function() {
          text.text(element.attr('data-value')).show();
          element.remove();
          loading.remove();
          editBtn.show();
        });
      }

      function recordingeditonfocusout(element) {
        if (element instanceof FocusEvent) {
          element = $(this);
        } else {
          element = $(element);
        }

        var card = element.closest('.googlemeet-recording-name');
        var text = card.find('.recording-name-text');
        var editBtn = card.find('.recordingeditname');
        element.remove();
        text.show();
        editBtn.show();
      }

      // Toggle visibility
      $('.recordinghowhide').on('click', function() {
        var btn = $(this);
        var recordingid = btn.attr('data-id');
        var card = btn.closest('.googlemeet-recording-card');
        var oldContent = btn.html();

        btn.html('{{# pix }} i/processing16, googlemeet, {{# str }} loading, mod_googlemeet {{/ str }} {{/ pix }}');

        Ajax.call([{
          methodname: 'mod_googlemeet_showhide_recording',
          args: {
            recordingid: recordingid,
            coursemoduleid: {{ coursemoduleid }}
          }
        }])[0].then(function(response) {
          if (response.visible) {
            btn.html('{{# pix }} i/hide, core, {{# str }} hide, mod_googlemeet {{/ str }} {{/ pix }}');
            card.removeClass('googlemeet-recording-hidden');
            card.find('.googlemeet-recording-hidden-badge').remove();
          } else {
            btn.html('{{# pix }} i/show, core, {{# str }} show, mod_googlemeet {{/ str }} {{/ pix }}');
            card.addClass('googlemeet-recording-hidden');
            if (!card.find('.googlemeet-recording-hidden-badge').length) {
              card.prepend('<div class="googlemeet-recording-hidden-badge">{{# str }} recording_hidden, mod_googlemeet {{/ str }}</div>');
            }
          }
        }).fail(Notification.exception).fail(function() {
          btn.html(oldContent);
        });
      });
    {{/hascapability}}
  });
});
{{/js}}
