{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_googlemeet/syncbutton

  Example context (json):
  {
    "lastsync": "29/04/2023 23:35",
    "creatoremail": "example@gmail.com",
    "redordingname": "Example",
    "login": "html",
    "islogged": true,
    "syncbutton": "html",
    "isloggedcreatoremail": true
  }
}}
<div id="recordings" class="googlemeet-sync-container">
  <div id="syncbutton" class="googlemeet-sync-panel">
    {{#islogged}}
      <div class="googlemeet-sync-main">
        <div class="googlemeet-sync-status">
          <span class="googlemeet-sync-label">{{# str }} lastsync, mod_googlemeet {{/ str }}</span>
          <span class="googlemeet-sync-time" id="id_lastsync">{{lastsync}}</span>
        </div>

        {{#isloggedcreatoremail}}
          <div class="googlemeet-sync-action">
            {{{syncbutton}}}
          </div>
        {{/isloggedcreatoremail}}

        {{^isloggedcreatoremail}}
          <div class="alert alert-warning googlemeet-sync-warning">
            {{# pix }} i/warning, core {{/ pix }}
            <span>{{# str }} isnotcreatoremail, mod_googlemeet {{/ str }}</span>
          </div>
        {{/isloggedcreatoremail}}
      </div>

      <details class="googlemeet-sync-details">
        <summary>{{# str }} sync_settings, mod_googlemeet {{/ str }}</summary>
        <div class="googlemeet-sync-details-content">
          <div class="googlemeet-sync-detail-item">
            <span class="googlemeet-detail-label">{{# str }} roomcreator, mod_googlemeet {{/ str }}</span>
            <span class="googlemeet-detail-value" id="id_creatoremail">{{creatoremail}}</span>
          </div>
          <div class="googlemeet-sync-detail-item">
            <span class="googlemeet-detail-label">{{# str }} recordingswiththename, mod_googlemeet {{/ str }}</span>
            <span class="googlemeet-detail-value">{{redordingname}}</span>
          </div>
          <div class="googlemeet-sync-account">
            {{{login}}}
          </div>
        </div>
      </details>

      <details class="googlemeet-sync-help">
        <summary>{{# str }} sync_help_title, mod_googlemeet {{/ str }}</summary>
        <div class="googlemeet-sync-help-content">
          {{# str }} sync_info, mod_googlemeet {{/ str }}
        </div>
      </details>
    {{/islogged}}

    {{^islogged}}
      <div class="googlemeet-sync-login">
        <div class="googlemeet-sync-login-message">
          {{# pix }} i/info, core {{/ pix }}
          <span>{{# str }} sync_notloggedin, mod_googlemeet {{/ str }}</span>
        </div>
        <div class="googlemeet-sync-login-action">
          {{{login}}}
        </div>
      </div>
    {{/islogged}}
  </div>
</div>
